<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582272899954-hl72t6hecr6kjkcke6gne698165ttdls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582272899954-hl72t6hecr6kjkcke6gne698165ttdls</string>
	<key>API_KEY</key>
	<string>AIzaSyDT44JkXbokFqhs09UuGt5Rai2mWQQsCos</string>
	<key>GCM_SENDER_ID</key>
	<string>582272899954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-f1fb1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-f1fb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582272899954:ios:e7571379576fd66ad55beb</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-f1fb1.firebaseio.com</string>
</dict>
</plist>